/*
*  This LESS is for the developer documentation.
*  None of this is need to make the UiKit work
*/
header{
  margin: 15px 0;
  .logo:hover{
    opacity: .6;
  }
  .form-search{
    input{
      width: 70%;
    }
    button{
      background: none;
      border: none;
    }
    .icon-search{
      color: #ff6600;
    }
  }
  .social{
    a:hover{
      text-decoration: none;
    }
    i[class^="icon-facebook"]{
      color: #2D78AB;
      &:hover,
      &:focus{
        opacity: .8;
      }
    }
    i[class^="icon-twitter"]{
      color: #00ACED;
      &:hover,
      &:focus{
        opacity: .8;
      }
    }
    i[class^="icon-youtube"]{
      color: #B00;
      &:hover,
      &:focus{
        opacity: .8;
      }
    }
  }
}



  .subheader{
    margin: 20px 0 30px 0;
  }

// Grid Example
.grid-example{
  margin-bottom: 20px;
  [class*="col-"]{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @gray-light;
    border: 1px solid @gray;
  }
}
/*  #grid-example {
    div[class*="col-"]{
      text-align: center;
      background-color: @gray-light;
      border: solid 1px @gray;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      div[class*="col-"]{
        background-color: #ababab;
      }
    }
    .row{
      margin-bottom: 10px;
    }
  }*/
  body > .navbar .brand {
	  float: left;
  	   color: #ffffff;
  }

  #navbar-example{
    z-index: 9999;
  }

//form fields - icons
#inputIcon{
  width: 200px;
}



// scrollspy
 .scrollspy-example {
  height: 200px;
  overflow: auto;
  position: relative;
}

  .docs-tabs .tab-content{
    overflow: visible;
  }

  #docs-nav{
    margin-top: 10px;
  }

  .docs-example > .dropdown > .dropdown-menu{
    display: block;
    position: static;
    margin-bottom: 5px;
  }

// Styles for the page



.docs-example{
  margin-bottom: 20px;
  background-color: #fff;
  .clearfix();
}

.fixed-example {
  position: relative;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  .navbar {
    position: absolute;
  }
}

/*
.docs-html,
.docs-js {
  position: relative;
  margin: 15px 0;
  padding: 27px 0 0 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
*/

/* // Echo out a label for the example
.docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}*/

/*.docs-html:after {
  content: "HTML";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
.docs-js:after {
  content: "JS";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}*/


/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
