.wvusUikit {
  /*
*  This LESS is for the developer documentation.
*  None of this is need to make the UiKit work
*/
  /*  #grid-example {
    div[class*="col-"]{
      text-align: center;
      background-color: @gray-light;
      border: solid 1px @gray;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      div[class*="col-"]{
        background-color: #ababab;
      }
    }
    .row{
      margin-bottom: 10px;
    }
  }*/
  /*
.docs-html,
.docs-js {
  position: relative;
  margin: 15px 0;
  padding: 27px 0 0 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
*/
  /* // Echo out a label for the example
.docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}*/
  /*.docs-html:after {
  content: "HTML";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
.docs-js:after {
  content: "JS";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}*/
  /* Footer
-------------------------------------------------- */
}
.wvusUikit .colors {
  color: #fff;
  width: 100%;
  margin: 10px 0;
}
.wvusUikit .colors:before,
.wvusUikit .colors:after {
  content: " ";
  display: table;
}
.wvusUikit .colors:after {
  clear: both;
}
.wvusUikit .colors .row div {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  min-height: 106px;
}
.wvusUikit .orange {
  background-color: #ff6600;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  height: 120px;
}
.wvusUikit .blue {
  background-color: #006699;
}
.wvusUikit .white {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}
.wvusUikit .dark-gray {
  background-color: #666;
}
.wvusUikit .black {
  background-color: #000;
}
.wvusUikit .gold {
  background-color: #fc3;
}
.wvusUikit .green {
  background-color: #999933;
}
.wvusUikit .light-blue {
  background-color: #9cf;
}
.wvusUikit .dark-blue {
  background-color: #0c4972;
}
.wvusUikit .terra-cotta {
  background-color: #630;
}
.wvusUikit .warm-gray {
  background-color: #999;
}
.wvusUikit p > img {
  padding: 10px;
}
.wvusUikit img {
  display: block;
  max-width: 100%;
  height: auto;
}
.wvusUikit .indent {
  padding-left: 40px;
}
.wvusUikit #photo-examples {
  margin-top: 100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wvusUikit .thumbnail {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}
.wvusUikit header {
  margin: 15px 0;
}
.wvusUikit header .logo:hover {
  opacity: .6;
}
.wvusUikit header .form-search input {
  width: 70%;
}
.wvusUikit header .form-search button {
  background: none;
  border: none;
}
.wvusUikit header .form-search .icon-search {
  color: #ff6600;
}
.wvusUikit header .social a:hover {
  text-decoration: none;
}
.wvusUikit header .social i[class^="icon-facebook"] {
  color: #2D78AB;
}
.wvusUikit header .social i[class^="icon-facebook"]:hover,
.wvusUikit header .social i[class^="icon-facebook"]:focus {
  opacity: .8;
}
.wvusUikit header .social i[class^="icon-twitter"] {
  color: #00ACED;
}
.wvusUikit header .social i[class^="icon-twitter"]:hover,
.wvusUikit header .social i[class^="icon-twitter"]:focus {
  opacity: .8;
}
.wvusUikit header .social i[class^="icon-youtube"] {
  color: #B00;
}
.wvusUikit header .social i[class^="icon-youtube"]:hover,
.wvusUikit header .social i[class^="icon-youtube"]:focus {
  opacity: .8;
}
.wvusUikit .subheader {
  margin: 20px 0 30px 0;
}
.wvusUikit .grid-example {
  margin-bottom: 20px;
}
.wvusUikit .grid-example [class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #999999;
  border: 1px solid #666666;
}
.wvusUikit body > .navbar .brand {
  float: left;
  color: #ffffff;
}
.wvusUikit #navbar-example {
  z-index: 9999;
}
.wvusUikit #inputIcon {
  width: 200px;
}
.wvusUikit .scrollspy-example {
  height: 200px;
  overflow: auto;
  position: relative;
}
.wvusUikit .docs-tabs .tab-content {
  overflow: visible;
}
.wvusUikit #docs-nav {
  margin-top: 10px;
}
.wvusUikit .docs-example > .dropdown > .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
}
.wvusUikit .docs-example {
  margin-bottom: 20px;
  background-color: #fff;
}
.wvusUikit .footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.wvusUikit .footer p {
  margin-bottom: 0;
  color: #777;
}
.wvusUikit .footer-links {
  margin: 10px 0;
}
.wvusUikit .footer-links li {
  display: inline;
  padding: 0 2px;
}
.wvusUikit .footer-links li:first-child {
  padding-left: 0;
}
.wvusUikit .home {
  text-align: center;
}
.wvusUikit #sector .row {
  margin-bottom: 20px;
}
.wvusUikit .nav-list .nav-list {
  padding-left: 20px;
}
