/* 
*  This LESS is for the developer documentation.  
*  None of this is need to make the UiKit work
*/
.wvus-uikit {

  .subheader{
    margin: 20px 0 30px 0;
    color: #6f6f6f;
  }

  #grid div[class*="span"]{
    text-align: center;
    background-color: #d1d1d1;
    border: solid 1px #999999;
    margin-bottom: 10px;
    div[class*="span"]{
      background-color: #ababab
    }
  }


  body > .navbar .brand {
	  float: left;
  	   color: #ffffff;
  }

  
}