/* 
*  This LESS is for the developer documentation.  
*  None of this is need to make the UiKit work
*/
.wvus-uikit .subheader {
  margin: 20px 0 20px 0;
  color: #6f6f6f;
}
.wvus-uikit #grid div[class*="span"] {
  text-align: center;
  background-color: #b8b8b8;
}
