/* 
*  This LESS is for the developer documentation.  
*  None of this is need to make the UiKit work
*/
.wvus-uikit .subheader {
  margin: 20px 0 30px 0;
  color: #6f6f6f;
}
.wvus-uikit #grid div[class*="span"] {
  text-align: center;
  background-color: #d1d1d1;
  border: solid 1px #999999;
  margin-bottom: 10px;
}
.wvus-uikit #grid div[class*="span"] div[class*="span"] {
  background-color: #ababab;
}
.wvus-uikit body > .navbar .brand {
  float: left;
  color: #ffffff;
}
.wvus-uikit .docs-tabs .tab-content {
  overflow: visible;
}
.wvus-uikit #docs-nav {
  margin-top: 10px;
}
.wvus-uikit .docs-dropdown {
  display: block;
  position: static;
  margin-bottom: 5px;
  *width: 180px;
}
