/* 
*  This LESS is for the developer documentation.  
*  None of this is need to make the UiKit work
*/
.wvus-uikit {
  /* Echo out a label for the example */

}
.wvus-uikit .subheader {
  margin: 20px 0 30px 0;
  color: #6f6f6f;
}
.wvus-uikit #grid div[class*="span"] {
  text-align: center;
  background-color: #d1d1d1;
  border: solid 1px #999999;
  margin-bottom: 10px;
}
.wvus-uikit #grid div[class*="span"] div[class*="span"] {
  background-color: #ababab;
}
.wvus-uikit #grid .row {
  margin-left: 0;
}
.wvus-uikit body > .navbar .brand {
  float: left;
  color: #ffffff;
}
.wvus-uikit .docs-tabs .tab-content {
  overflow: visible;
}
.wvus-uikit #docs-nav {
  margin-top: 10px;
}
.wvus-uikit .docs-dropdown {
  display: block;
  position: static;
  margin-bottom: 5px;
  *width: 180px;
}
.wvus-uikit pre {
  border: none;
}
.wvus-uikit .docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wvus-uikit .docs-html,
.wvus-uikit .docs-js {
  position: relative;
  margin: 15px 0;
  padding: 27px 0 0 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wvus-uikit .docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.wvus-uikit .docs-html:after {
  content: "HTML";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.wvus-uikit .docs-js:after {
  content: "JS";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
