.wvus-uikit {
  /*
*  This LESS is for the developer documentation.
*  None of this is need to make the UiKit work
*/

  /* Responsive tests
------------------------- */

  /* Footer
-------------------------------------------------- */

}
.wvus-uikit .colors {
  color: #fff;
  width: 100%;
  margin: 10px 0;
}
.wvus-uikit .colors .row-fluid div {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  min-height: 100px;
}
.wvus-uikit .orange {
  background-color: #ff6600;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  height: 120px;
}
.wvus-uikit .blue {
  background-color: #006699;
}
.wvus-uikit .white {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}
.wvus-uikit .dark-gray {
  background-color: #666;
}
.wvus-uikit .black {
  background-color: #000;
}
.wvus-uikit .gold {
  background-color: #fc3;
}
.wvus-uikit .green {
  background-color: #999933;
}
.wvus-uikit .light-blue {
  background-color: #9cf;
}
.wvus-uikit .dark-blue {
  background-color: #0c4972;
}
.wvus-uikit .terra-cotta {
  background-color: #630;
}
.wvus-uikit .warm-gray {
  background-color: #999;
}
.wvus-uikit .no-margin {
  margin-left: 0 !important;
}
.wvus-uikit p > img {
  padding: 10px;
}
.wvus-uikit .indent {
  padding-left: 40px;
}
.wvus-uikit #photo-examples {
  margin-top: 100px;
}
.wvus-uikit header {
  margin: 15px 0;
}
.wvus-uikit header .logo:hover {
  opacity: .6;
}
.wvus-uikit header .form-search input {
  width: 70%;
}
.wvus-uikit header .form-search button {
  background: none;
  border: none;
}
.wvus-uikit header .form-search .icon-search {
  color: #ff6600;
}
.wvus-uikit header .social a:hover {
  text-decoration: none;
}
.wvus-uikit header .social i[class^="icon-facebook"] {
  color: #2D78AB;
}
.wvus-uikit header .social i[class^="icon-facebook"]:hover,
.wvus-uikit header .social i[class^="icon-facebook"]:focus {
  opacity: .8;
}
.wvus-uikit header .social i[class^="icon-twitter"] {
  color: #00ACED;
}
.wvus-uikit header .social i[class^="icon-twitter"]:hover,
.wvus-uikit header .social i[class^="icon-twitter"]:focus {
  opacity: .8;
}
.wvus-uikit header .social i[class^="icon-youtube"] {
  color: #B00;
}
.wvus-uikit header .social i[class^="icon-youtube"]:hover,
.wvus-uikit header .social i[class^="icon-youtube"]:focus {
  opacity: .8;
}
.wvus-uikit .subheader {
  margin: 20px 0 30px 0;
  color: #6f6f6f;
}
.wvus-uikit #gridExample div[class*="span"] {
  text-align: center;
  background-color: #d1d1d1;
  border: solid 1px #999999;
  margin-bottom: 10px;
}
.wvus-uikit #gridExample div[class*="span"] div[class*="span"] {
  background-color: #ababab;
}
.wvus-uikit #gridExample .row {
  margin-left: 0;
}
.wvus-uikit body > .navbar .brand {
  float: left;
  color: #ffffff;
}
.wvus-uikit #navbar-example {
  z-index: 9999;
}
.wvus-uikit .responsive-utilities-test {
  margin-top: 5px;
  margin-left: 0;
  list-style: none;
  overflow: hidden;
  /* clear floats */

}
.wvus-uikit .responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  color: #999;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wvus-uikit .responsive-utilities-test li + li {
  margin-left: 10px;
}
.wvus-uikit .responsive-utilities-test span {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wvus-uikit .responsive-utilities-test span {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
.wvus-uikit .scrollspy-example {
  height: 200px;
  overflow: auto;
  position: relative;
}
.wvus-uikit .docs-tabs .tab-content {
  overflow: visible;
}
.wvus-uikit #docs-nav {
  margin-top: 10px;
}
.wvus-uikit .docs-dropdown {
  display: block;
  position: static;
  margin-bottom: 5px;
  *width: 180px;
}
.wvus-uikit pre {
  border: none;
}
.wvus-uikit .docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wvus-uikit .docs-html,
.wvus-uikit .docs-js {
  position: relative;
  margin: 15px 0;
  padding: 27px 0 0 0;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wvus-uikit .docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.wvus-uikit .docs-html:after {
  content: "HTML";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.wvus-uikit .docs-js:after {
  content: "JS";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.wvus-uikit .footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.wvus-uikit .footer p {
  margin-bottom: 0;
  color: #777;
}
.wvus-uikit .footer-links {
  margin: 10px 0;
}
.wvus-uikit .footer-links li {
  display: inline;
  padding: 0 2px;
}
.wvus-uikit .footer-links li:first-child {
  padding-left: 0;
}
