html {
  position: relative;
  min-height: 100%;
}
.wvusUikit {
  /*
*  This LESS is for the developer documentation.
*  None of this is need to make the UiKit work
*/
}
.wvusUikit .colors {
  color: #fff;
  width: 100%;
  margin: 10px 0;
}
.wvusUikit .colors:before,
.wvusUikit .colors:after {
  content: " ";
  display: table;
}
.wvusUikit .colors:after {
  clear: both;
}
.wvusUikit .colors .row div {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  min-height: 106px;
}
.wvusUikit .orange {
  background-color: #ff6600;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  height: 120px;
}
.wvusUikit .blue {
  background-color: #006699;
}
.wvusUikit .white {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}
.wvusUikit .dark-gray {
  background-color: #666;
}
.wvusUikit .black {
  background-color: #000;
}
.wvusUikit .gold {
  background-color: #fc3;
}
.wvusUikit .green {
  background-color: #999933;
}
.wvusUikit .light-blue {
  background-color: #9cf;
}
.wvusUikit .dark-blue {
  background-color: #0c4972;
}
.wvusUikit .terra-cotta {
  background-color: #630;
}
.wvusUikit .warm-gray {
  background-color: #999;
}
.wvusUikit p > img {
  padding: 10px;
}
.wvusUikit img {
  display: block;
  max-width: 100%;
  height: auto;
}
.wvusUikit .indent {
  padding-left: 40px;
}
.wvusUikit #photo-examples {
  margin-top: 100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wvusUikit .thumbnail {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}
.wvusUikit .subheader {
  margin: 20px 0 30px 0;
}
.wvusUikit .spin-example {
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
}
.wvusUikit .grid-example {
  margin-bottom: 20px;
}
.wvusUikit .grid-example [class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}
.wvusUikit .scrollspy-example {
  height: 200px;
  overflow: auto;
  position: relative;
}
.wvusUikit #docs-nav {
  margin-top: 10px;
}
.wvusUikit .docs-example > .dropdown > .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
}
.wvusUikit .docs-example {
  margin-bottom: 20px;
  background-color: #fff;
}
.wvusUikit .docs-example:before,
.wvusUikit .docs-example:after {
  content: " ";
  display: table;
}
.wvusUikit .docs-example:after {
  clear: both;
}
.wvusUikit .docs-example [class^=col-] {
  margin-bottom: 10px;
}
.wvusUikit .callout {
  border: 1px solid #333333;
  padding: 6px 16px;
  margin: 10px auto;
  border-radius: 4px;
}
.wvusUikit .context-bg-example p {
  padding: 20px;
}
.wvusUikit #myCarousel {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.wvusUikit #demo-collapse {
  margin-top: 20px;
}
.wvusUikit .tooltip-example .btn {
  margin-right: 10px;
}
.wvusUikit .popover-example .btn {
  margin-right: 10px;
}
.wvusUikit #favorite-icons [class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
.wvusUikit #favorite-icons [class*="col-"]:hover {
  background-color: #006699;
  color: #fff;
}
.wvusUikit #favorite-icons [class*="col-"] .fa {
  line-height: 32px;
}
.wvusUikit #favorite-icons [class*="col-"]:hover i,
.wvusUikit #favorite-icons [class*="col-"]:focus i {
  font-size: 30px;
}
.wvusUikit .docs-example > .btn-group {
  margin-top: 5px;
  margin-bottom: 10px;
}
.wvusUikit body {
  margin-bottom: 100px;
}
.wvusUikit #site-header {
  margin: 15px 0;
  height: 70px;
}
.wvusUikit #site-header .logo:hover img {
  opacity: .6;
}
@media screen and (max-width: 991px) {
  .wvusUikit .row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
  }
  .wvusUikit .row-offcanvas-right {
    right: 0;
  }
  .wvusUikit .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
  }
  .wvusUikit .row-offcanvas-right.active {
    right: 50%;
  }
  .wvusUikit .row-offcanvas-left {
    left: 0;
  }
  .wvusUikit .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
  }
  .wvusUikit .row-offcanvas-left.active {
    left: 50%;
  }
  .wvusUikit .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
.wvusUikit .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.wvusUikit .footer p {
  margin-bottom: 0;
  color: #777;
}
.wvusUikit .footer .footer-links {
  margin: 10px 0;
}
.wvusUikit .footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
.wvusUikit .footer .footer-links li:first-child {
  padding-left: 0;
}
.wvusUikit .home {
  text-align: center;
}
.wvusUikit .logo {
  float: left;
  margin-right: 20px;
}
.wvusUikit .logo img {
  max-width: none;
  height: auto;
}
.wvusUikit .site-title {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
}
.wvusUikit #sector .row {
  margin-bottom: 20px;
}
.wvusUikit #docs-nav .nav .nav {
  padding-left: 20px;
}
.wvusUikit #docs-nav .nav {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.wvusUikit #docs-nav .nav li.active a {
  background-color: #ff6600;
  color: #ffffff;
}
.wvusUikit #docs-nav .nav li a,
.wvusUikit #docs-nav .nav li a:hover,
.wvusUikit #docs-nav .nav li a:focus {
  padding: 5px 10px;
}
